footer#footer
	section.section-newsletter 
		.container
			img.icon(src="assets/icon-newsletter.svg", width="32", height="35", alt="Image description") 
			h2 black swallow babes
			p Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor  Lorem ipsum dolor sit amet,
			form(action="#").form-newsletter
				input(type="email", placeholder="Email Address")
				input(type="submit", value="Sign up").btn
	section.section-socials-icons 
		.container
			ul
				li
					a(href="#") 
						img(src="assets/IndividualIconsPage_WhiteOutline_Facebook.png", width="11", height="20", alt="Image description") 
				li
					a(href="#") 
						img(src="assets/IndividualIconsPage_WhiteOutline_Instagram.png", width="21", height="20", alt="Image description") 
				li
					a(href="#") 
						img(src="assets/IndividualIconsPage_WhiteOutline_TikTok.png", width="17", height="20", alt="Image description") 
				li
					a(href="#") 
						img(src="assets/IndividualIconsPage_WhiteOutline_Twitter.png", width="20", height="16", alt="Image description") 
				li
					a(href="#") 
						img(src="assets/IndividualIconsPage_WhiteOutline_YouTube.png", width="20", height="14", alt="Image description") 
				li
					a(href="#") 
						img(src="assets/IndividualIconsPage_WhiteOutline_Pinterest.png", width="16", height="20", alt="Image description") 
	section.section-footer-content
		.container.container-fluid
			.content-holder 
				div
					ul.footer-nav 
						li 
							a(href="#") About
							ul
								li
									a(href="#") About Black Swallow
								li
									a(href="#") Careers
								li
									a(href="#") Affiliates
								li
									a(href="#") Contact Us
						li 
							a(href="#") Customer care
							ul
								li
									a(href="#") FAQ
								li
									a(href="#") Product and Size Guide
								li
									a(href="#") Shipping
								li
									a(href="#") Track My Order
								li
									a(href="#") Returns
								li
									a(href="#") Promotions
								li
									a(href="#") Technical
								li
									a(href="#") Order Issues
						li
							a(href="#") My Account
							ul
								li
									a(href="#") Account Info
								li
									a(href="#") Order History
								li
									a(href="#") Track My Order
								li
									a(href="#") Address Book
								li
									a(href="#") Wishlist
								li
									a(href="#") Payment Methods
								li
									a(href="#") Store Credits
								li
									a(href="#") Contact Preferences
								li
									a(href="#") Need help?

						li
							a(href="#") contact us
							ul
								li
									a(href="#") Phone: (02) 9826 8990
								li
									a(href="#") Email: sales@blackswallow.com.au
				.footer-payment-block
					ul.payments-method-list.large
						li
							a(href="#") 
								img(src="https://via.placeholder.com/284x209", width="284", height="209", alt="Image description")
						li
							a(href="#") 
								img(src="https://via.placeholder.com/284x209", width="284", height="209", alt="Image description")

					div
						.currency-selector you’re shopping in
						ul.payments-method-list
							li
								a(href="#") 
							li
								a(href="#") 
							li
								a(href="#") 
							li
								a(href="#") 
							li
								a(href="#") 
							li
								a(href="#") 
							li
								a(href="#")
			.bottom-content.font-size-navigation
				div
					p.copy &copy;BLACK SWALLOW 2021
				div
					ul.footer-bottom-nav
						li
							a(href="#") T’s &amp; C’s
						li
							a(href="#") Privacy