footer#footer
	section.section-newsletter 
		.container
			img.icon(src="images/icon-newsletter.svg", width="32", height="35", alt="Image description") 
			h2 black swallow babes
			p Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor  Lorem ipsum dolor sit amet,
			form(action="#").form-newsletter
				input(type="email", placeholder="Email Address")
				input(type="submit", value="Sign up").btn
	section.section-socials-icons 
		.container
			ul
				li
					a(href="#") 
						img(src="images/IndividualIconsPage_WhiteOutline_Facebook.png", width="11", height="20", alt="Image description") 
				li
					a(href="#") 
						img(src="images/IndividualIconsPage_WhiteOutline_Instagram.png", width="21", height="20", alt="Image description") 
				li
					a(href="#") 
						img(src="images/IndividualIconsPage_WhiteOutline_TikTok.png", width="17", height="20", alt="Image description") 
				li
					a(href="#") 
						img(src="images/IndividualIconsPage_WhiteOutline_Twitter.png", width="20", height="16", alt="Image description") 
				li
					a(href="#") 
						img(src="images/IndividualIconsPage_WhiteOutline_YouTube.png", width="20", height="14", alt="Image description") 
				li
					a(href="#") 
						img(src="images/IndividualIconsPage_WhiteOutline_Pinterest.png", width="16", height="20", alt="Image description") 
	section.section-footer-content
		.container.container-fluid
			ul.payments-method-list
				li
					a(href="#") 
				li
					a(href="#") 
				li
					a(href="#") 
				li
					a(href="#") 
				li
					a(href="#") 
				li
					a(href="#") 
				li
					a(href="#")
			.bottom-content.font-size-navigation
				div
					p.copy &copy;BLACK SWALLOW 2021
				div
					ul.footer-nav
						li
							a(href="#") T’s &amp; C’s
						li
							a(href="#") Privacy