// 100 Ultra Light Italic
// 200 Thin Italic
// 300 Light Italic
// 400 Regular Italic
// 500 Medium Italic
// 700 Bold Italic
// 900 Black Italic

@font-face {
	font-family: 'Atten New';
	src: url('assets/AttenNewRegular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Atten New';
	src: url('assets/AttenNewBold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}

@font-face {
    font-family: 'Sneakers Script';
    src: url('assets/sneakers-script-medium.woff2') format('woff2'),
         url('assets/sneakers-script-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// @font-face {
// 	font-family: 'Atten New Regular Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New Regular Italic'), url('AttenNewRegularItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten New Book';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New Book'), url('AttenNewBook.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten New Book Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New Book Italic'), url('AttenNewBookItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten New Medium';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New Medium'), url('AttenNewMedium.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten New Medium Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New Medium Italic'), url('AttenNewMediumItalic.woff') format('woff');
// }
	


	

// @font-face {
// 	font-family: 'Atten New Bold Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New Bold Italic'), url('AttenNewBoldItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten New ExtraBold';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New ExtraBold'), url('AttenNewExtraBold.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten New ExtraBold Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten New ExtraBold Italic'), url('AttenNewExtraBoldItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Regular';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Regular'), url('AttenRoundNewRegular.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Regular Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Regular Italic'), url('AttenRoundNewRegularItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Book';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Book'), url('AttenRoundNewBook.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Book Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Book Italic'), url('AttenRoundNewBookItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Medium';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Medium'), url('AttenRoundNewMedium.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Medium Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Medium Italic'), url('AttenRoundNewMediumItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Bold';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Bold'), url('AttenRoundNewBold.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New Bold Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New Bold Italic'), url('AttenRoundNewBoldItalic.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New ExtraBold';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New ExtraBold'), url('AttenRoundNewExtraBold.woff') format('woff');
// }
	

// @font-face {
// 	font-family: 'Atten Round New ExtraBold Italic';
// 	font-style: normal;
// 	font-weight: normal;
// 	src: local('Atten Round New ExtraBold Italic'), url('AttenRoundNewExtraBoldItalic.woff') format('woff');
// }