// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

label{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px;
	@extend .font-size-subheading;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	color: $color-system-black;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid $color-system-black;
	box-shadow: none;
	box-sizing: border-box;
	display: block;
	background: $color-system-white;
	font-size: 10px;
	height: 32px;
	line-height: 12px;
	margin: 0;
	outline: none;
	padding: 9px 11px;
	width: 100%;
	@include media('>=tablet') {
		font-size: 14px;
		height: 50px;
		line-height: 17px;
		padding: 15px 11px 16px;
	}
	@include placeholder {
		color: #C3C3C3;
	}
	
	// &:focus {
	// 	border-color: $form-element-focus-border-color;
	// }
}

select {
	-webkit-border-radius: 0;
	
	.hideme {
		display: none;
	}
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 150px;
	min-height: 120px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

input[type="number"] {
	appearance: textfield;
	&::-webkit-inner-spin-button, 
	&::-webkit-outer-spin-button { 
		-webkit-appearance: none;
	}
}