extends pug/extends/master

block content
	section.section-promo-list
		.container.container-fluid
			ul.font-size-subheading
				li 
					strong.title current promo
					p 20% off Category
				li 
					strong.title current promo
					p 20% off Category
	section.section-sale-counter
		.container
			.counter counter
	section.section-slideshow.js-intro-slider
		div
			.media-holder
				img(srcset="https://via.placeholder.com/320x420 767w, https://via.placeholder.com/1920x941 1920w",
					width="320", height="420", alt="Image description")
				.buttons-grid.center
					div
						a(href="#").btn continue shopping
	section.section-collection(style="background:#F2F2F2")
		.container 
			.section-heading 
				h2.h1 Hot in categories
			.collection-list
				div
					.category-single-box
						.category-single-box-media-holder
							img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
						h3.category-single-box-title.font-size-subheading
							a(href="#") category
				div
					.category-single-box
						.category-single-box-media-holder
							img(src="https://via.placeholder.com/145x143", width="145", height="143", alt="Image description")
						h3.category-single-box-title.font-size-subheading
							a(href="#") category
				div
					.category-single-box
						.category-single-box-media-holder
							img(src="https://via.placeholder.com/145x143", width="145", height="143", alt="Image description")
						h3.category-single-box-title.font-size-subheading
							a(href="#") category
				div
					.category-single-box
						.category-single-box-media-holder
							img(src="https://via.placeholder.com/145x143", width="145", height="143", alt="Image description")
						h3.category-single-box-title.font-size-subheading
							a(href="#") category
				div
					.category-single-box
						.category-single-box-media-holder
							img(src="https://via.placeholder.com/145x143", width="145", height="143", alt="Image description")
						h3.category-single-box-title.font-size-subheading
							a(href="#") category
				div
					.category-single-box
						.category-single-box-media-holder
							img(src="https://via.placeholder.com/145x143", width="145", height="143", alt="Image description")
						h3.category-single-box-title.font-size-subheading
							a(href="#") category
	section.section-collection
		.container 
			.section-heading 
				h2.h1 Trending
			.collection-list.js-collection-slider
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
	section.section-collection(style="background:#F2F2F2")
		.container 
			.section-heading 
				h2.h1 brands of the month
			.collection-list.three-columns
				div
					.brand-single-box
						.brand-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
				div
					.brand-single-box
						.brand-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
				div
					.brand-single-box
						.brand-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
				div
					.brand-single-box
						.brand-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
				div
					.brand-single-box
						.brand-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
				div
					.brand-single-box
						.brand-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/200x100", width="145", height="143", alt="Image description")
			.buttons-grid.center 
				div 
					a(href="#").btn continue shopping
	section.section-collection
		.container 
			.section-heading 
				h2.h1 Follow us on instagram
			.collection-list.js-gallery-slider
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
				div
					.instagram-single-box
						.instagram-single-box-media-holder
							a(href="#") 
								img(src="https://via.placeholder.com/120", width="120", height="120", alt="Image description")
			.buttons-grid.center 
				div 
					a(href="#").btn continue shopping