extends pug/extends/master

block content
	.container
		ul
			li 
				a(href="blog-post.html") AA style
			li 
				a(href="homepage.html") Homepage
			li 
				a(href="pdp.html") PDP
			li 
				a(href="plp.html") PLP
			li 
				a(href="blog-post.html") Blog/post