extends pug/extends/master

block content
	.container
		h1 Lorem, ipsum.
		h2 Lorem, ipsum.
		h3 Lorem, ipsum.
		h4 Lorem, ipsum.
		strong.font-size-subheading Lorem ipsum dolor sit amet.
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, excepturi tempore reiciendis quia sunt repellendus odit libero totam facilis vel?
		p
			form(action="#")
				.form-group
					label(for="") Name*
					input(type="text", placeholder="Name*")
				.form-group
					input(type="number", value="1")
		p
			a(href="#").btn checkout
		p
			a(href="#").btn continue shopping
		p
			a(href="#").btn forgot password
		ul.accordion
			li
				a(href="#").opener.font-size-subheading description
				.slide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt vero suscipit accusantium natus assumenda eveniet quaerat mollitia. Deserunt, fugit tempora.
			li
				a(href="#").opener.font-size-subheading shipping
				.slide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt vero suscipit accusantium natus assumenda eveniet quaerat mollitia. Deserunt, fugit tempora.
			li
				a(href="#").opener.font-size-subheading returns
				.slide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt vero suscipit accusantium natus assumenda eveniet quaerat mollitia. Deserunt, fugit tempora.
			li
				a(href="#").opener.font-size-subheading sizing
				.slide Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt vero suscipit accusantium natus assumenda eveniet quaerat mollitia. Deserunt, fugit tempora.