extends pug/extends/master

block content
	section.section-promo-list
		.container.container-fluid
			ul.font-size-subheading
				li 
					strong.title current promo
					p 20% off Category
				li 
					strong.title current promo
					p 20% off Category
	section.section-category-filter 
		.container 
			.title-holder
				h1 Makeup
			.filter-list-holder
				div
					a(href="#").btn.btn-back Back to main
				div
					.filters-list.font-size-small.js-filters-slider
						div
							a(href="#").active
								span.icon
								| All Makeup
						div
							a(href="#")
								span.icon
								| Eyes
						div
							a(href="#")
								span.icon
								| Lips
						div
							a(href="#")
								span.icon
								| Cheek
						div
							a(href="#")
								span.icon
								| Brows
						div
							a(href="#")
								span.icon
								| Lips
						div
							a(href="#")
								span.icon
								| Face
						div
							a(href="#")
								span.icon
								| Face
						div
							a(href="#")
								span.icon
								| Face
			.filter-buttons-holder
				div
					a(href="#").btn sort
				div
					a(href="#").btn filter
	section.section-collection
		.container
			.collection-list
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
							.variants.font-size-small 20 Colours
								img(src="assets/product-variant-colors.png", width="20", height="8", alt="Image description") 
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
							.variants.font-size-small 20 Colours
								img(src="assets/product-variant-colors.png", width="20", height="8", alt="Image description") 
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								a(href="#").add-to-wish
						.product-card__media-holder
							.product-card__media-overlay-content
								.counter.counter--compact.font-size-subheading
									.date 12
										br
										| dec
									.counter__timer 05d 18h 53m 49s
								ul.sizes-options-list.font-size-navigation
									li XS
									li s
									li m
									li l
									li xl
									li xxl
									li xxxl
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
							.variants.font-size-small 20 Colours
								img(src="assets/product-variant-colors.png", width="20", height="8", alt="Image description") 
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
				div
					.product-card
						.product-card__header
							div
								span.sticker.font-size-subheading trending
							div
								a(href="#").add-to-wish
						.product-card__media-holder
							
						.product-card__content 
							h3
								a(href="#") Makeup revolution
							p Conceal &amp; Glow
							span.price.font-size-price $17.00
							.variants.font-size-small 20 Colours
								img(src="assets/product-variant-colors.png", width="20", height="8", alt="Image description") 
						.product-card__footer 
							.buttons-grid.buttons-grid.vertical
								div
									a(href="#").btn add to bag
									.color-selector-dropdown.custom-scrollbar
										ul 
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
											li 
												a(href="#").font-size-subheading col 5
													span.example
			.buttons-grid.center.vertical
				div
					span.items-counter.font-size-subcopy Showing 2 of 2 items
				div
					a(href="#").btn load more
	section.section-category-description 
		.container 
			h2.font-size-subheading Makeup
			p.font-size-small Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam Lorem ipsum 
				